@use '../util/vars';

div, * {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

#app-target {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
